<section class="aso m-lg-5 m-xl-5 m-md-4 m-sm-2 m-xs-1">
        <div class="container-fluid">
            <div class="row flex-row flex-lg-nowrap flex-xl-nowrap flex-md-nowrap pl-2 mt-4">
                    <div class="wordsbox col-xl-4 col-md-4 col-lg-4 col-sm-12 col-xs-12 mt-5 pt-4">
                        <h5 class="wordsboxtitle mt-3">App Store Optimization at EPIX</h5>
                        <a href="https://apps.apple.com/us/app/epix-now-watch-tv-and-movies/id1387514950" target="_blank" 
                        style="font-size:.9rem; text-decoration:underline; 
                        color:#CBCDF5;"> apple app store // </a>
                        <a href="https://play.google.com/store/apps/details?id=com.epix.epix.now&hl=en_US" target="_blank" 
                        style="font-size:.9rem; text-decoration:underline; 
                        color:#8DD6EA;"> google play store </a>
                        <p>Optimized App Store listings across multiple platforms (iOS, Android, FireTV, Roku) and conducted A/B testing on Google Play listing. Increased monthly app installation rate by 101.15 percent and average Google Play rating from 3.5 to 4.3 stars from July 2019 to December 2019 for EPIX NOW. </p>
                        <p style="color:grey; margin-top:5%;font-size:.7rem;">2019 - now
                    </p>
                        
                    </div>
                    <div class="wordsbox col-md-5 mt-lg-5 mt-md-5 pt-3 col-md-10 col-sm-12 col-xs-12">
                            <div class="card card-block ml-lg-2 ml-xl-2">
                                <img src="photos/aso1.png" class="img-fluid">
                            </div>
                    </div>
                    <div class="wordsbox col-md-5 mt-lg-5 mt-md-5 pt-3 col-md-10 col-sm-12 col-xs-12">
                            <div class="card card-block ml-lg-2 ml-xl-2">
                                <img src="photos/aso2.png" class="img-fluid">
                            </div>
                    </div>
                </div>
            </div>
</section> 
