<section class="fashion m-lg-5 m-xl-5 m-md-4 m-sm-3 m-xs-2 ng-view" autoscroll="true">

        <div class="container-fluid">
            <div class="row flex-row flex-lg-nowrap flex-xl-nowrap flex-md-nowrap pl-2 mt-4">
                    <div class=" col-xl-4 col-md-4 col-lg-4 col-sm-12 col-xs-12 mt-5 pt-4">
                        <h5 class="wordsboxtitle mt-3">Jerk Magazine Asst Fashion Editor</h5>
                        <a href="https://issuu.com/jerk_magazine/docs/jerk_march_2017" target="_blank" 
                        style="font-size:.9rem; text-decoration:underline; 
                        color:#CBCDF5;"> March Issue //</a>
                        <a href="https://issuu.com/jerk_magazine/docs/jerk_april_2017" target="_blank" 
                        style="font-size:.9rem; text-decoration:underline; 
                        color:#8DD6EA;"> April Issue //</a>
                        <a href="https://issuu.com/jerk_magazine/docs/finalmayissue" target="_blank" 
                        style="font-size:.9rem; text-decoration:underline; 
                        color:rgb(203, 245, 221);"> May Issue</a>
                        <p style="font-size:.7rem;">Pitched ideas for the Gawk (fashion) section of Jerk Magazine's monthly print mag. Wrote copy, bought and returned clothes and accessories,
                            and participated in monthly photo shoot.</p>
                        <p style="color:grey; margin-top:5%;font-size:.7rem;">Spring 2017
                    </p>
                        
                    </div>
                    <div class="wordsbox mt-xl-5 mt-lg-5 mt-md-5 pt-3 col-md-10 col-sm-12 col-xs-12">
                            <div class="card card-block ml-lg-4">
                                <img src="photos/fashion1.png" class="img-fluid">
                            </div>
                    </div>
                    <div class="wordsbox mt-xl-5 mt-lg-5 mt-md-5 pt-3 col-md-10 col-sm-12 col-xs-12">
                            <div class="card card-block ml-lg-4">
                                <img src="photos/fashion2.png" class="img-fluid">
                            </div>
                    </div>
                    <div class="wordsbox mt-xl-5 mt-lg-5 mt-md-5 pt-3 col-md-10 col-sm-12 col-xs-12">
                            <div class="card card-block ml-lg-4">
                                <img src="photos/fashion3.png" class="img-fluid">
                            </div>
                    </div>
                    <div class="wordsbox mt-xl-5 mt-lg-5 mt-md-5 pt-3 ccol-md-10 ol-sm-12 col-xs-12">
                            <div class="card card-block ml-lg-4">
                                <img src="photos/fashion4.png" class="img-fluid">
                            </div>
                    </div>
                    <div class="wordsbox mt-xl-5 mt-lg-5 mt-md-5 pt-3 col-md-10 col-sm-12 col-xs-12">
                            <div class="card card-block ml-lg-4">
                                <img src="photos/fashion5.png" class="img-fluid">
                            </div>
                    </div>
                </div>
            </div>
</section>