<section class="contactpage m-5 p-5">
       <div class="contacttext">You can email me at tiffanycmoran@outlook.com.
        <br>
        <p class="mt-3">I'm also on <a href="https://www.linkedin.com/in/tiffanymoran/"target="_blank" style="color:rgb(141, 214, 234)">LinkedIn</a>, 
            <a href="https://www.instagram.com/teafunnym/" target="_blank" style="color:rgba(198, 182, 255, 0.904);">Instagram</a>, & 
            <a href="https://twitter.com/teafunnym" target="_blank" style="color:#FFC5CA;">Twitter</a> along with other Interwebs 
            <br>places generally with the username @teafunnym. </p>
        </div>
</section>
