<section class="copywriting m-lg-5 m-xl-5 m-md-4 m-sm-3 m-xs-2 ng-view" autoscroll="true">

        <div class="container-fluid">
            <div class="row flex-row flex-lg-nowrap flex-xl-nowrap flex-md-nowrap pl-2 mt-4">
                    <div class=" col-xl-4 col-md-4 col-lg-4 col-sm-12 col-xs-12 mt-5 pt-4">
                        <h5 class="wordsboxtitle mt-3">Copywriting at EPIX</h5>
                        <a href="https://www.epix.com/" target="_blank" 
                        style="font-size:.9rem; text-decoration:underline; 
                        color:#CBCDF5;"> EPIX.com //</a>
                        <a href="https://www.epixnow.com/" target="_blank" 
                        style="font-size:.9rem; text-decoration:underline; 
                        color:#8DD6EA;"> EPIXNOW.com //</a>
                        <p style="font-size:.7rem;"> I write 250-word movie descriptions for an average of 200 movies per month that appear on the website and across all platforms. I also write release notes calling out any new features or bug fixes for EPIX apps. </p>
                        <p style="color:grey; margin-top:5%;font-size:.7rem;">September 2018 - now
                    </p>
                        
                    </div>
                    <div class="wordsbox col-md-6 mt-lg-5 mt-md-5 pt-3 col-sm-12 col-xs-12">
                            <div class="card card-block ml-lg-4">
                                <img src="photos/copywriting1.png" class="img-fluid">
                            </div>
                    </div>
                    <div class="wordsbox col-md-6 mt-lg-5 mt-md-5 pt-3 col-sm-12 col-xs-12">
                            <div class="card card-block ml-lg-4">
                                <img src="photos/copywriting2.png" class="img-fluid">
                            </div>
                    </div>
                    <div class="wordsbox col-md-6 mt-lg-5 mt-md-5 pt-3 col-sm-12 col-xs-12">
                            <div class="card card-block ml-lg-4">
                                <img src="photos/copywriting3.png" class="img-fluid">
                            </div>
                    </div>
                    <div class="wordsbox col-md-6 mt-lg-5 mt-md-5 pt-3 col-sm-12 col-xs-12">
                            <div class="card card-block ml-lg-4">
                                <img src="photos/copywriting4.png" class="img-fluid">
                            </div>
                    </div>
                    <div class="wordsbox col-md-6 mt-lg-5 mt-md-5 pt-3 col-sm-12 col-xs-12">
                            <div class="card card-block ml-lg-4">
                                <img src="photos/copywriting5.png" class="img-fluid">
                            </div>
                    </div>
                </div>
            </div>
</section>
