<section class="cuddleparty m-lg-5 m-xl-5 m-md-4 m-sm-3 m-xs-2">
    <div class="container-fluid">
        <div class="row flex-row flex-lg-nowrap flex-xl-nowrap flex-md-nowrap pl-2 mt-4 ">
                <div class="wordsbox col-xl-4 col-md-4 col-lg-4 col-sm-12 col-xs-12 mt-5 pt-4">
                    <h5 class="wordsboxtitle mt-3">Cuddle Party Feature</h5>
                    <a href="https://issuu.com/jerk_magazine/docs/jerk_feb/25" target="_blank" 
                        style="font-size:.9rem; text-decoration:underline; 
                        color:#CBCDF5;"> Jerk Magazine //</a>
                    <a href="http://www.thenewshouse.com/life-and-style/spoonful-of-strangers-a-look-inside-the-cuddling-business/" target="_blank" style="font-size:.9rem; text-decoration:underline; color:#8DD6EA;"> thenewshouse.com</a>
                    <p>A story I wrote about the trending cuddle business that was featured in print (Jerk Magazine) and digital (The Newshouse). I interviewed multiple inviduals involved and even attended a cuddle party in NYC.</p>
                    <p style="color:grey; margin-top:5%;font-size:.7rem;">Fall 2017 & Spring 2018
                </p>
                    
                </div>
                <div class="wordsbox mt-xl-5 mt-lg-5 pt-3 col-md-10 col-sm-12 col-xs-12">
                        <div class="card card-block ml-lg-4">
                            <img src="photos/cuddle1.png" class="img-fluid">
                        </div>
                </div>
                <div class="wordsbox mt-xl-5 mt-lg-5 pt-3 col-md-10 col-sm-12 col-xs-12">
                        <div class="card card-block ml-lg-4">
                            <img src="photos/cuddle2.png" class="img-fluid">
                        </div>
                </div>
                <div class="wordsbox mt-xl-5 mt-lg-5 pt-3 col-md-10 col-sm-12 col-xs-12">
                    <div class="card card-block ml-lg-4 ">
                        <img src="photos/cuddle3.png" class="img-fluid">
                    </div>
            </div>
            </div>
        </div>
</section>