
<section class="home ng-view" autoscroll="true">
    <div class="row">
        <img src="photos/me.png" class="mephoto responsive col-lg-5 col-md-5 col-sm-12 col-xs-12 pl-5 "/>
        <div class="homebox responsive col-lg-6 col-md-6 col-sm-12 col-xs-sm p-5">
            <h1 class="about">Let's Create Something Cool.</h1>
            <p class="abouttext">Hi and welcome to my website, completely designed and coded by yours truly! I’m Tiffany Moran and I’m endlessly curious about the intersection between tech and the human experience.</p>
                <p class="abouttext">My education in Information Management & Technology and Journalism at Syracuse University has brought me to my current job on the Product Engagement team at EPIX. In the past few years I’ve been the Digital Director of an alt publication, fallen in love with product and shipped out features I’ve worked immensely hard on, worked on a podcast, and even co-created a femme festival in Brooklyn.</p>
                <p class="abouttext">Find out more about all of this (and more!) by exploring my website. Enjoy!</p>
            <div class="button p-2 m-3 mt-5" href="" ui-sref="work">
            explore
            </div>
        </div>
    </div>
</section>
