
<section class="home ng-view" autoscroll="true">
    <div class="row">
        <img src="photos/me.png" class="mephoto responsive col-lg-5 col-md-5 col-sm-12 col-xs-12 pl-5 "/>
        <div class="homebox responsive col-lg-6 col-md-6 col-sm-12 col-xs-sm p-5">
            <h1 class="about">Let's Create Something Cool.</h1>
            <p class="abouttext">Hi and welcome to my website, completely designed and coded by yours truly! I’m Tiffany Moran, aspiring digital journalist. I recently graduated from the S.I. Newhouse School of Public Communications and the iSchool at Syracuse University. I’ve worked for the past few years towards my majors in Magazine Journalism and Information Management and Technology.</p>
                <p class="abouttext">I have held internships as an SEO Editorial intern at XO Group as well as a social media intern for Shani Griffith Consulting Company. In my last semesters at school I was the Digital Director of Syracuse University’s alternative publication Jerk Magazine, where I managed all of the online content and the website.</p>
                <p class="abouttext">I love writing and discovering stories about innovation and technology, music, travel, food, or lesser known/unexpected people. You can usually catch me face deep in a noodle bowl, listening to true crime podcasts, or looking for cheap flights.</p>
            <div class="button p-2 m-3 mt-5" href="" ui-sref="work">
            explore
            </div>
        </div>
    </div>
</section>
