<section class="jerkclips m-lg-5 m-xl-5 m-md-4 m-sm-3 m-xs-2">
        <div class="container-fluid">
            <div class="row flex-row flex-lg-nowrap flex-xl-nowrap flex-md-nowrap pl-2 mt-4">
                    <div class="wordsbox col-xl-4 col-md-4 col-lg-4 col-sm-12 col-xs-12 mt-5 pt-4">
                        <h5 class="wordsboxtitle mt-3">Writer for Jerk Magazine</h5>
                        <a href="https://jerkmagazine.net/9mfehhs6kt2vag7aqn19w0hd2b5dka?author=5c732b2b343a9be6916f519b" target="_blank" 
                        style="font-size:.9rem; text-decoration:underline; 
                        color:#CBCDF5;"> jerkmagazine.net</a>
                        <p>I've written several online articles for Jerk from my sophomore year to my senior year. Check out my author page linked above.
                        </p>
                        <p style="color:grey; margin-top:5%;font-size:.7rem;">Spring 2015 to Spring 2018
                    </p>
                        
                    </div>
                    <div class="wordsbox col-md-9 col-sm-12 col-xs-12 mt-lg-5 mt-md-5 pt-3 pt-3">
                            <div class="card card-block ml-lg-4">
                                <img src="photos/clips1.png" class="img-fluid">
                            </div>
                    </div>
                    <div class="wordsbox col-md-9 col-sm-12 col-xs-12 mt-lg-5 mt-md-5 pt-3 pt-3">
                            <div class="card card-block ml-lg-4">
                                <img src="photos/clips2.png" class="img-fluid">
                            </div>
                    </div>
                    <div class="wordsbox col-md-9 col-sm-12 col-xs-12 mt-lg-5 mt-md-5 pt-3 pt-3">
                            <div class="card card-block ml-lg-4">
                                <img src="photos/clips3.png" class="img-fluid">
                            </div>
                    </div>
                    <div class="wordsbox col-md-9 col-sm-12 col-xs-12 mt-lg-5 mt-md-5 pt-3 pt-3">
                            <div class="card card-block ml-lg-4">
                                <img src="photos/clips4.png" class="img-fluid">
                            </div>
                    </div>
                </div>
            </div>
</section>
