<section class="stacker m-lg-5 m-xl-5 m-md-4 m-sm-2 m-xs-1">
        <div class="container-fluid">
            <div class="row flex-row flex-lg-nowrap flex-xl-nowrap flex-md-nowrap pl-2 mt-4">
                    <div class="wordsbox col-xl-4 col-md-4 col-lg-4 col-sm-12 col-xs-12 mt-5 pt-4">
                        <h5 class="wordsboxtitle mt-3">Personalization at EPIX</h5>
                        <a href="https://www.epix.com/" target="_blank" 
                        style="font-size:.9rem; text-decoration:underline; 
                        color:#CBCDF5;"> EPIX.com </a>
                        <p>Assisted in the launch of our home-grown machine-learning Recommendation Engine, which has been used for a movie and series in-app recommendations feature and recommendations in email. Also currently execute weekly content programming changes to websites and apps for a personalized UX based on editorial strategy and the data science team. </p>
                        <p style="color:grey; margin-top:5%;font-size:.7rem;">2019 - now
                    </p>
                        
                    </div>
                    <div class="wordsbox col-md-5 mt-md-5 pt-3 col-sm-12 col-xs-12">
                            <div class="card card-block ml-lg-2 ml-xl-2">
                                <img src="photos/personalization1.png" class="img-fluid">
                            </div>
                    </div>
                    <div class="wordsbox col-md-5 mt-md-5 pt-3 col-sm-12 col-xs-12">
                            <div class="card card-block ml-lg-2 ml-xl-2">
                                <img src="photos/personalization2.png" class="img-fluid">
                            </div>
                    </div>
                    <div class="wordsbox col-md-5 mt-md-5 pt-3 col-sm-12 col-xs-12">
                            <div class="card card-block ml-lg-2 ml-xl-2">
                                <img src="photos/personalization3.png" class="img-fluid">
                            </div>
                    </div>
                    <div class="wordsbox col-md-8 mt-md-5 pt-3 col-sm-12 col-xs-12">
                            <div class="card card-block ml-lg-4 ml-xl-4">
                                <img src="photos/personalization4.png" class="img-fluid">
                            </div>
                    </div>
                    <div class="wordsbox col-md-8 mt-md-5 pt-3 col-sm-12 col-xs-12">
                            <div class="card card-block ml-lg-4 ml-xl-4">
                                <img src="photos/personalization5.png" class="img-fluid">
                            </div>
                    </div>
                </div>
            </div>
</section>
