<section class="seo m-lg-5 m-xl-5 m-md-4 m-sm-3 m-xs-2">
        <div class="container-fluid">
            <div class="row flex-row flex-lg-nowrap flex-xl-nowrap flex-md-nowrap pl-2 mt-4">
                    <div class="wordsbox col-xl-4 col-md-4 col-lg-4 col-sm-12 col-xs-12 mt-5 pt-4">
                        <h5 class="wordsboxtitle mt-3">SEO Intern at XO Group</h5>
                        <a href="https://www.theknot.com/content/cash-registry-traditional-registry-pairings" target="_blank" 
                        style="font-size:.9rem; text-decoration:underline; 
                        color:#CBCDF5;"> story 1 //</a>
                        <a href="https://www.theknot.com/content/cash-wedding-registry-couple-types" target="_blank" 
                        style="font-size:.9rem; text-decoration:underline; 
                        color:#8DD6EA;"> story 2 //</a>
                        <a href="https://www.theknot.com/content/craziest-cash-wedding-registry-funds" target="_blank" 
                        style="font-size:.9rem; text-decoration:underline; 
                        color:rgb(203, 245, 221);"> story 3</a>
                        <p>After a summer internship at XO Group, I learned about the technical and content sides of SEO and optimizing The Knot and The Bump websites 
                            with best practices. I also wrote three stories for The Knot about wedding registries which you can check out with the links. </p>
                        <p style="color:grey; margin-top:5%;font-size:.7rem;">Summer 2017
                    </p>
                        
                    </div>
                    <div class="wordsbox col-md-10 mt-lg-5 mt-md-5 pt-3 col-sm-12 col-xs-12">
                            <div class="card card-block ml-lg-4">
                                <img src="photos/seo1.png" class="img-fluid">
                            </div>
                    </div>
                    <div class="wordsbox col-md-10 mt-lg-5 mt-md-5 pt-3 col-sm-12 col-xs-12">
                            <div class="card card-block ml-lg-4">
                                <img src="photos/seo2.png" class="img-fluid">
                            </div>
                    </div>
                    <div class="wordsbox col-md-10 mt-lg-5 mt-md-5 pt-3 col-sm-12 col-xs-12">
                            <div class="card card-block ml-lg-4">
                                <img src="photos/seo3.png" class="img-fluid">
                            </div>
                    </div>
                </div>
            </div>
</section>