<section class="shrinefest m-lg-5 m-xl-5 m-md-4 m-sm-3 m-xs-2">
        <div class="container-fluid">
            <div class="row flex-row flex-lg-nowrap flex-xl-nowrap flex-md-nowrap pl-2 mt-4">
                    <div class="wordsbox col-xl-4 col-md-4 col-lg-4 col-sm-12 col-xs-12 mt-5 pt-4">
                        <h5 class="wordsboxtitle mt-3">Putting Together Shrine Fest 2019</h5>
                        <a href="https://www.instagram.com/shrinefest/" target="_blank" style="font-size:.9rem; text-decoration:underline; color:#8DD6EA;"> Instagram </a>
                        <p>Helped create the second annual Shrine Fest, a music & arts festival celebrating female, femme, and non-binary artists at Muchmore’s in Brooklyn, NY. All of the proceeds went to the Willie Mae Rock Camp For Girls. </p>
                        <p style="color:grey; margin-top:5%;font-size:.7rem;">Spring 2019
                    </p>
                        
                    </div>
                    <div class="wordsbox col-md-9 col-sm-12 col-xs-12 mt-xl-5 mt-lg-5 mt-md-5 pt-3">
                            <div class="card card-block ml-lg-4">
                                <img src="photos/shrinefest1.png" class="img-fluid">
                            </div>
                    </div>
                    <div class="wordsbox col-md-9 col-sm-12 col-xs-12 mt-xl-5 mt-lg-5 mt-md-5 pt-3">
                            <div class="card card-block ml-lg-4">
                                <img src="photos/shrinefest2.png" class="img-fluid">
                            </div>
                    </div>
                       <div class="wordsbox col-md-9 col-sm-12 col-xs-12 mt-xl-5 mt-lg-5 mt-md-5 pt-3">
                            <div class="card card-block ml-lg-4">
                                <img src="photos/shrinefest3.png" class="img-fluid">
                            </div>
                    </div>
                </div>
            </div>
</section>
