<section class="social m-lg-5 m-xl-5 m-md-4 m-sm-2 m-xs-1">
        <div class="container-fluid">
            <div class="row flex-row flex-lg-nowrap flex-xl-nowrap flex-md-nowrap pl-2 mt-4">
                    <div class="wordsbox col-xl-4 col-md-4 col-lg-4 col-sm-12 col-xs-12 mt-5 pt-4">
                        <h5 class="wordsboxtitle mt-3">Social Media Intern</h5>
                        <a href="https://twitter.com/shanigriffithco?lang=en" target="_blank" 
                        style="font-size:.9rem; text-decoration:underline; 
                        color:#CBCDF5;"> Twitter //</a>
                        <a href="https://www.facebook.com/ShaniGriffithConsulting/" target="_blank" 
                        style="font-size:.9rem; text-decoration:underline; 
                        color:#8DD6EA;"> Facebook //</a>
                        <a href="https://www.linkedin.com/company/shani-griffith-consulting/" target="_blank" 
                        style="font-size:.9rem; text-decoration:underline; 
                        color:rgb(203, 245, 221);"> LinkedIn</a>
                        <p>Created content for the various social media platforms in the voice of the Shani Griffith Consulting Company brand. 
                            This included copy, graphics, and analytics to determine what content was performing the best.
                        </p>
                        <p style="color:grey; margin-top:5%;font-size:.7rem;">Spring & Summer 2016
                    </p>
                        
                    </div>
                    <div class="wordsbox col-md-10 mt-lg-5 mt-md-5 pt-3 col-sm-12 col-xs-12">
                            <div class="card card-block ml-lg-4">
                                <img src="photos/social1.png" class="img-fluid">
                            </div>
                    </div>
                    <div class="wordsbox col-md-10 mt-lg-5 mt-md-5 pt-3 col-sm-12 col-xs-12">
                            <div class="card card-block ml-lg-4">
                                <img src="photos/social2.png" class="img-fluid">
                            </div>
                    </div>
                    <div class="wordsbox col-md-10 mt-lg-5 mt-md-5 pt-3 col-sm-12 col-xs-12">
                            <div class="card card-block ml-lg-4">
                                <img src="photos/social3.png" class="img-fluid">
                            </div>
                    </div>
                    <div class="wordsbox col-md-10 mt-lg-5 mt-md-5 pt-3 col-sm-12 col-xs-12">
                            <div class="card card-block ml-lg-4">
                                <img src="photos/social5.png" class="img-fluid">
                            </div>
                    </div>
                    <div class="wordsbox col-md-10 mt-lg-5 mt-md-5 pt-3 col-sm-12 col-xs-12">
                            <div class="card card-block ml-lg-4">
                                <img src="photos/social6.png" class="img-fluid">
                            </div>
                    </div>
                </div>
            </div>
</section>