<section class="stacker m-lg-5 m-xl-5 m-md-4 m-sm-2 m-xs-1">
        <div class="container-fluid">
            <div class="row flex-row flex-lg-nowrap flex-xl-nowrap flex-md-nowrap pl-2 mt-4">
                    <div class="wordsbox col-xl-4 col-md-4 col-lg-4 col-sm-12 col-xs-12 mt-5 pt-4">
                        <h5 class="wordsboxtitle mt-3">Writer at The Stacker</h5>
                        <a href="http://thestacker.com/stories/176/places-every-state-native-american-meanings" target="_blank" 
                        style="font-size:.9rem; text-decoration:underline; 
                        color:#CBCDF5;"> story 1 //</a>
                        <a href="http://thestacker.com/stories/196/american-cities-and-towns-christmas-names#1" target="_blank" 
                        style="font-size:.9rem; text-decoration:underline; 
                        color:#8DD6EA;"> story 2 </a>
                        <p>Wrote data driven slideshow stories about various places throughout the United States. </p>
                        <p style="color:grey; margin-top:5%;font-size:.7rem;">Fall 2017
                    </p>
                        
                    </div>
                    <div class="wordsbox col-md-8 mt-md-5 pt-3 col-sm-12 col-xs-12">
                            <div class="card card-block ml-lg-4 ml-xl-4">
                                <img src="photos/stacker1.png" class="img-fluid">
                            </div>
                    </div>
                    <div class="wordsbox col-md-8 mt-md-5 pt-3 col-sm-12 col-xs-12">
                            <div class="card card-block ml-lg-4 ml-xl-4">
                                <img src="photos/stacker2.png" class="img-fluid">
                            </div>
                    </div>
                </div>
            </div>
</section>