<section class="working m-lg-5 m-xl-5 m-md-4 m-sm-2 m-xs-1">
        <div class="container-fluid">
            <div class="row flex-row flex-lg-nowrap flex-xl-nowrap flex-md-nowrap pl-2 mt-4">
                    <div class="wordsbox col-xl-4 col-md-4 col-lg-4 col-sm-12 col-xs-12 mt-5 pt-4">
                        <h5 class="wordsboxtitle mt-3">Web Editor for Working: Syracuse Podcast</h5>
                        <a href="http://workingsyracuse.com/" target="_blank" 
                        style="font-size:.9rem; text-decoration:underline; 
                        color:#CBCDF5;"> Website //</a>
                        <a href="http://workingsyracuse.com/e11-working-syracuse-crime-scene-cleaner.html" target="_blank" 
                        style="font-size:.9rem; text-decoration:underline; 
                        color:#8DD6EA;"> Episode 11 //</a>
                        <a href="http://workingsyracuse.com/e13-working-syracuse-used-car-dealer.html" 
                        style="font-size:.9rem; text-decoration:underline; 
                        color:rgb(203, 245, 221);"> Episode 13</a>
                        <p>Worked on a team of 3 to code a responsive website for the podcast series Working: Syracuse using Bootstrap and Angular.js. Also conducted research and interviews, gathered photos and videos, and edited scripts for two podcast episodes and recorded voice-overs for Episode 11: The Crime Scene Cleaner.
                        </p>
                        <p style="color:grey; margin-top:5%;font-size:.7rem;">Spring 2018
                    </p>
                        
                    </div>
                    <div class="wordsbox col-md-5 mt-lg-5 mt-md-5 pt-3 col-sm-12 col-xs-12">
                            <div class="card card-block ml-lg-4">
                                <img src="photos/working1.png" class="img-fluid">
                            </div>
                    </div>
                    <div class="wordsbox col-md-5 mt-lg-5 mt-md-5 pt-3 col-sm-12 col-xs-12">
                            <div class="card card-block ml-lg-4">
                                <img src="photos/working2.png" class="img-fluid">
                            </div>
                    </div>
                </div>
            </div>
</section>
