<section class="works">
<div class="container-fluid">

        <div class="row working flex-row flex-lg-nowrap flex-xl-nowrap flex-md-nowrap pl-2 mt-3 ">
            <div class="firstrow" href="" ui-sref="digitaldirector">
                <div class="card card-block">
                    <img src="photos/digitaldirector.png" class="img-responsive">
                    <div class="tag img-responsive"><p style="margin-left:40%;" >Digital Director</p>
                        <p style="margin-left:8%;">Jerk Magazine</p>
                    </div>
                </div>
            </div>
            <div class="" href="" ui-sref="seo">
                <div class="card card-block">
                    <img src="photos/seo.png" class="img-responsive">
                        <div class="tag"><p style="margin-left:45%"; >SEO Intern</p>
                            <p style="margin-left:20%;">The Knot</p>
                        </div>
                </div>
            </div>
            <div class="" href="" ui-sref="personalization">
                    <div class="card card-block">
                        <img src="photos/stacker.png" class="img-responsive">
                        <div class="tag"><p style="margin-left:50%;" >Personalization</p>
                            <p style="margin-left:20%;">EPIX</p>
                        </div>
                    </div>
            </div>
            <div class="" href="" ui-sref="dailyorange">
                <div class="card card-block">
                    <img src="photos/dailyorange.png" class="img-responsive">
                    <div class="tag"><p style="margin-left:40%;" >A Sobering Reality</p>
                        <p style="margin-left:12%;">The Daily Orange</p>
                    </div>
                </div>
            </div>
            <div class="" href="" ui-sref="jerkclips">
                    <div class="card card-block ">
                        <img src="photos/jerkclips.jpg" class="img-responsive">
                        <div class="tag"><p style="margin-left:55%;">Writer</p>
                            <p style="margin-left:15%;">Jerk Magazine</p>
                        </div>
                    </div>
                </div>  
        </div>
        <div class="row working flex-row flex-lg-nowrap flex-xl-nowrap flex-md-nowrap pl-2 mt-3 ">
                <div class="" href="" ui-sref="travel">
                    <div class="card card-block ">
                            <img src="photos/travel.jpg" class="img-responsive">
                            <div class="tag"><p style="margin-left:50%;" >Travel Media</p>
                                <p style="margin-left:13%;">& Adventures</p>
                            </div>
                    </div>
            </div>    
            <div class="" href="" ui-sref="cuddleparty">
                    <div class="card card-block">
                            <img src="photos/cuddle.png" class="img-responsive">
                            <div class="tag"><p style="margin-left:50%" >Cuddle Party</p>
                                <p style="margin-left:15%;">Feature Story</p>
                            </div>
                    </div>
                </div>
                <div class="" href="" ui-sref="asstfashion">
                        <div class="card card-block">
                                <div class="tag"><p style="margin-left:50%;" >Fashion Asst</p>
                                    <p style="margin-left:10%;">Jerk Magazine</p>
                                </div>
                                <img src="photos/asstfashion.png" class="img-responsive">
                        </div>
                    </div>
                <div class="" href="" ui-sref="spoonuniversity">
                <div class="card card-block">
                        <img src="photos/spoonuniversity.png" class="img-responsive">
                        <div class="tag"><p style="margin-left:55%" >Food Writer</p>
                            <p style="margin-left:15%;">SpoonUniversity</p>
                        </div>
                </div>
            </div>
            <div class="" href="" ui-sref="socialmedia">
                    <div class="card card-block ">
                        <img src="photos/shanigriffith.png" class="img-responsive">
                        <div class="tag"><p style="margin-left:53%;" >Social Media</p>
                            <p style="margin-left:8%;">Shani Griffith Consulting</p>
                        </div>
                    </div>
                </div>
        </div>
            </div>  
        </div>
    
    </div>
</section>
